body{
    background-image: url(street.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: brandon-grotesque, sans-serif;
    font-size: 2vh;
}

#container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
}

img{
    max-height: 20vh;
    max-width: 20vw;
    animation: shine 5s ease-in-out  infinite;
    animation-fill-mode: forwards;  
}

.projectPic{
    grid-column: 1;

}

.project{
    background-color: rgba(0, 0, 0, 0.829);
    margin: 1vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr, 0.5fr;
}

.buttons{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

button{
    max-width: 16vw;
    max-height: 5vh;
    text-align: center;
}

.demo{
    align-self: center;
    background-color: red;


}

.source{
    align-self: center;
    background-color: mediumblue;

}
.source:hover, .demo:hover{
    cursor: pointer;
}

h3{
    grid-column: 1;
    grid-row: 2;
}

p{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}



@keyframes shine{
    10% {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    100% {
      opacity: 0.5;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
    }
  }

  @media screen and (max-width:1000px){
      body{
          font-size: 2vh;
      }
      #container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        color: white;
    }

    .project{
        grid-template-columns: 1fr 1fr;
    }
  }